

.auth-form {
    align-items: left;
    display: flex;
    flex-direction: column;
  }

.auth-container{
    width: 400px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
}

.auth-card-content{
    padding: 12px 44px;
}


.auth-card-title {
    text-align: center;
    margin: 15px 0;
}


.auth-container label {
    margin-top: 5px;
}

.auth-container input {
    border: none;
    border-bottom: var(--accent) 1px solid;
    outline: none;
    padding-top: 14px;
  }

.alert {
  font-weight: 800;
}

.auth-container button {
  margin: 50px auto 10px auto;
}

.auth-redirect{
    text-align: right;
    font-size: 0.9rem;
}

.auth-sign-up-link{
    text-align: center;
    font-size: 0.9rem;
}

.close-button{
        border: 0;
        color: white;
        font-family: system-ui, sans-serif;
        text-decoration: none;      
}

.close {
    position: absolute;
    top: 10px;
    right: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.5;
  }

  .close-button:hover .close {
    opacity: 1;
  }


  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 1px;
    background-color: #333;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }
  

