main {
    max-width: 1200px;
    margin: 0 auto;
}


a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: var(--primary) ; 
}

a:active {
  color: var(--primary) ; 

}

.page-container {
  margin-top: 130px;
}



.button{
    background: var(--primary);
    border: none;
    border-bottom: var(--accent) 3px solid;
    cursor: pointer;
    color: white;
    height: 42px;
    transition: 0.25s;
    width: 153px;
  }

  .button:hover {
    background: var(--accent);
}

@media only screen and (max-width: 850px) {
  .page-container{
    margin-top: 60px
  }
}